body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vmin;
}

table {
  height: 90vmin;
  width: 90vmin;
}

td {
  margin: 0.5%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vmin;
}

.buttons > * {
  font-size: 3vmin;
  height: 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 2vmin;
  padding-left: 2vmin;
}

.buttons button {
  font-family: sans-serif;
  color: white;
  background-color: rgb(136, 171, 185);
  border-radius: 0;
  border-style: none;
}
